<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIREN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
  </head>
<body>

    <!--this creates our title uses code pulled from online-->
    <div class="ribbon rounded-border-gradient title">
        <h1>SINER: Stock, Impact, News, and Environmental Ratings</h1>
    </div>

    <!-- uses both frontPanel and center class to create the buttons shown at top of page-->
    <div class="frontPanel center rounded-border-gradient">

        <!--adding functionality to create a use-able button-->
        <form method="POST">
            <input type="text" name="submit" placeholder="Enter Stock Ticker">
            <button type="submit">Submit</button>
        </form>

        <br />
        <!--
        <label for="stockPrice">Stock Price: </label>
        <input name="stockPrice" id="stockPrice" />

        <label for="ESG">ESG: </label>
        <input name="ESG" id="ESG" />
        -->
        <!--overall sentiment button-->
        <!--
        <label for="sentiment">sentiment: </label>
        <input name="sentiment" id="sentiment"/>
        -->
        <!--button for industry -->
        <!--
        <label for="industry">industry:</label>
        <input name="industry" id="industry" />
        -->
        <p></p>
    <table border="1">
    <thead>
        <style>
            /* Center the table horizontally */
            table {
                margin: 0 auto;
            }
        </style>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>

        <tbody>
            {% for key, value in dynamic_data.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    </div>
    <div class="frontPanel rounded-border-gradient">
        <h2>Related Articles</h2>
        <a class="link" href="NotARealDomain_OrIsIt"> www.linkhere.com</a>
    </div>

    <footer>
        <p>No Copyright - <a class="link" href="NotARealDomain_OrIsIt"> SIREN Industries</a></p>
    </footer>
</body>
</html>