/*test code to create nice borders found online*/
@import "https://unpkg.com/open-props" layer(design.system);
@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);

@layer demo {
  .rounded-border-gradient {
    border: solid var(--size-2) transparent; /*sets width of border*/
    border-radius: var(--radius-4);
    background:
      linear-gradient(var(--surface-1), var(--surface-1)) padding-box,
      var(--gradient-1) border-box;
  }
}

@layer demo.support {
  body {
    display: grid;
    place-content: center;
    padding: var(--size-5);
    gap: var(--size-5);
  }
}
/*end of copied code from online*/

.title{
    inline-size: auto;
    writing-mode: horizontal-tb;
    place-content: center;
    padding: var(--size-5);
    gap: var(--size-5);

}

/* comment for css */
body {
  background-color: black;
  background-image:url('/static/img/home.jpg');
  background-size: cover;
}

.frontPanel {
  font-size:20px;
  height: auto;
  width: 80%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding-bottom: 20px;
}

/*defines standard borders for all items*/
.border{
  border = 10px solid grey;
  border-radius: 10px;/*creates rounded edges maybe*/
}

footer{
  background-color: dodgerBlue;
  text-align: center;
  color:white;
  bottom: 5px;
}

.center {
  text-align: center;
  list-style-position: inside;
  height:auto;
  background-color: white;
}


.link {
  color: black;
}

.link:visited {
  color: red;
}

.ribbon {
    font-size: 30px;
    background-color: white; /* Change this to your desired background color */
    color: Black; /* Text color */
    position: relative;
    padding: 1px 1px;
    text-align: left;
}

.ribbon p {
    margin: 0;
}
